<!DOCTYPE html>
<html>
<body>

<form action="/debug/led" method="POST" target="_blank">
  time: <input type="text" name="time"><br> 
  main: <input type="text" name="main"><br> 
  nums : <input type="text" name="nums"><br>
  first: <input type="text" name="first"><br>
  second: <input type="text" name="second"><br>
  third: <input type="text" name="third"><br>
  fourth: <input type="text" name="fourth"><br>
  fifth: <input type="text" name="fifth"><br>
  sixth: <input type="text" name="sixth"><br>


  <input type="submit" value="Submit">
</form>


</body>
</html>
